<ion-tabs >

  <ion-tab-bar slot="bottom" color=dark>
    <ion-tab-button tab="movies-list" (click)="updateTab(0)">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tvshows-list" (click)="updateTab(1)" >
      <ion-icon name="tv"></ion-icon>
      <ion-label>Tv Shows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites-list" (click)="updateTab(2)">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
